[gcode_macro M420]
description: Load the current mesh
gcode:
  BED_MESH_PROFILE LOAD=default
  G28

[gcode_macro BED_MESH_START]
description: creates automated homing and bed mesh
gcode:
  BED_MESH_CLEAR
  G28
  BED_MESH_CALIBRATE
  G0  X110 Y1 Z15 F3600

[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
gcode:
    {% set EXTRUDER_TEMP = params.EXTRUDER|default(245)|float %}
    {% set BED_TEMP = params.BED|default(80)|float %}

    M104 S{EXTRUDER_TEMP * 0.70}   ; set extruder temperature to 70%
    M140 S{BED_TEMP}               ; set bed temperature
    BED_MESH_START                 ; home all axes and bed mesh
    M190 S{BED_TEMP}               ; Wait for bed to finish heating
    M109 S{EXTRUDER_TEMP}          ; Wait for nozzle to finish heating

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-5.0 F3600                 ; retract filament
    G91                            ; relative positioning
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G1 Z10 F3000                   ; move nozzle up 2mm
    G90                            ; absolute positioning
    G0  X110 Y225 F3600            ; present bed